<p>АДКРЫТАЕ АКЦЫЯНЕРНАЕ ТАВАРЫСТВА&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&laquo;БЕЛРЭСТАЎРАЦЫЯ&raquo;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&laquo;БЕЛРЕСТАВРАЦИЯ&raquo;</strong></p>

<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ЗАГАД&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ПРИКАЗ</strong></p>

<p><strong>_________________________________________________________________________________________</strong></p>

<p><strong>ПРИКАЗ</strong></p>

<p>№ &shy;&shy;&shy;&shy;&shy;&shy;_____ от_________ 20___ г.&nbsp;</p>

<p><strong>О назначении ответственных <br>
за производство работ
</strong></p>

<p>В связи с производством работ на объекте &laquo;<strong>{{ sites.body }}</strong>&raquo;, {{ sites.contract_type }} № {{ sites.contract_number }} от {{ sites.contract_date }}.</p>
<p>ПРИКАЗЫВАЮ:</p>
<ol>
    <li>Ответственным лицом за общее руководство, организацию и выполнение производства работ, своевременное и качественное изготовление, взаимодействие и координацию совместного производства работ, осуществление производственного контроля за выполнением требований законодательства об охране труда
    назначен {{ sites.manager_main }}.</li>
    <li>Ответственным лицом за производство работ, обеспечение требований охраны труда, электробезопасность, противопожарных и санитарных норм и правил, требований стандартов, ведение исполнительной документации, в части касающейся данного вида работ, осуществление производственного контроля за качеством выполняемых работ, в соответствии с требованиями нормативных актов, должностной инструкции положений и других локальных нормативных актов на объекте назначен {{ sites.manager_line }}</li>
    <li>Назначить ответственным за общее состояние электрохозяйства на объекте главного энергетика Дирко Д.А.</li>
    <li>{{ sites.manager_line }} до начала производства работ должен ознакомить всех работающих на объекте под роспись с проектом производства работ (ППР), (при его применении), технологическими картами, провести инструктаж по вопросам охраны труда на рабочем месте, обеспечить организацию и&nbsp; осуществление мероприятий по обеспечению требований&nbsp; безопасного условия выполнения работ, а&nbsp; также&nbsp; указанных в наряд-допусках (при &nbsp;их применении), осуществлять контроль за &nbsp;допуском работающих&nbsp; к выполнению работ, за соблюдением подчиненными работниками, выполняющими работы на объекте, требований охраны труда, производственной &nbsp;санитарии, противопожарной безопасности, трудовой и производственной &nbsp;дисциплины, обеспечением и использованием&nbsp; средств индивидуальной защиты.</li>
    <li>Контроль за исполнением настоящего приказа возложить на главного инженера Пашковского Ю.П.</li>
    <li>С настоящим приказом ознакомить всех ответственных лиц по принадлежности.</li>
</ol>





<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Генеральный директор&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В.Л. Змушко</p>