<p>АДКРЫТАЕ АКЦЫЯНЕРНАЕ ТАВАРЫСТВА&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&laquo;БЕЛРЭСТАЎРАЦЫЯ&raquo;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&laquo;БЕЛРЕСТАВРАЦИЯ&raquo;</strong></p>

<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ЗАГАД&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ПРИКАЗ</strong></p>

<p><strong>_________________________________________________________________________________________</strong></p>

<p><strong>ПРИКАЗ</strong></p>

<p>№ &shy;&shy;&shy;&shy;&shy;&shy;_____ от_________ 20___ г.&nbsp;</p>

<p><strong>О допуске к самостоятельной работе</strong></p>

<p>В свя&shy;зи с окон&shy;ча&shy;ни&shy;ем ста&shy;жи&shy;ров&shy;ки и про&shy;хо&shy;ж&shy;де&shy;ни&shy;ем про&shy;вер&shy;ки зна&shy;ний, в со&shy;от&shy;вет&shy;ст&shy;вии с тре&shy;бо&shy;ва&shy;ния&shy;ми Ин&shy;ст&shy;рук&shy;ции о по&shy;ряд&shy;ке обу&shy;че&shy;ния, ста&shy;жи&shy;ров&shy;ки, ин&shy;ст&shy;рук&shy;та&shy;жа и про&shy;вер&shy;ки зна&shy;ний ра&shy;бо&shy;таю&shy;щих по во&shy;про&shy;сам ох&shy;ра&shy;ны тру&shy;да, ут&shy;вер&shy;жден&shy;ной по&shy;ста&shy;нов&shy;ле&shy;ни&shy;ем Ми&shy;ни&shy;стер&shy;ст&shy;ва тру&shy;да и со&shy;ци&shy;аль&shy;ной за&shy;щи&shy;ты Рес&shy;пуб&shy;ли&shy;ки Бе&shy;ла&shy;русь от 28.11.2008 № 175,</p>

<p><strong>ПРИКАЗЫВАЮ:</strong></p>

<p>1. До&shy;пус&shy;тить к ра&shy;бо&shy;те ра&shy;бот&shy;ни&shy;ка, про&shy;шед&shy;шего ин&shy;ст&shy;рук&shy;таж, обу&shy;че&shy;ние, ста&shy;жи&shy;ров&shy;ку и про&shy;вер&shy;ку зна&shy;ний по во&shy;про&shy;сам ох&shy;ра&shy;ны тру&shy;да:</p>

<p>{{ workers.profession }} {{ workers.surname }} {{ workers.firstname }} {{ workers.midname }}</p>

<p>Основание: протокол проверки знаний № ______________________</p>

<p>2. Ра&shy;бот&shy;ни&shy;ку вы&shy;пол&shy;нять тре&shy;бо&shy;ва&shy;ния нормативных правовых актов по охране труда, пра&shy;виль&shy;но при&shy;ме&shy;нять вы&shy;дан&shy;ные сред&shy;ст&shy;ва ин&shy;ди&shy;ви&shy;ду&shy;аль&shy;ной за&shy;щи&shy;ты.</p>

<p>4. Кон&shy;тролирует ис&shy;пол&shy;не&shy;ни&shy;е дан&shy;но&shy;го при&shy;ка&shy;за {{ workers.manager }}</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Генеральный директор&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В.Л. Змушко</p>