<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ОАО &laquo;Белреставрация&raquo;</strong></h3>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ПРОТОКОЛ № ______</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>проверки знаний по вопросам охраны труда и пожарной безопасности</strong></p>

<p>от &shy;&laquo;___&raquo;__________20___г.</p>

<p>Комиссия, созданная на основании приказа № 9 от &laquo;17&raquo; января 2022 года в составе:</p>

<p><strong>Председатель комиссии:</strong> главный инженер &ndash; Пашковский Ю.П.</p>

<p><strong>Члены комиссии: </strong>ведущий инженер по охране труда &ndash; Ольшевский М.Ю.</p>

<p style="margin-left:116.25pt">главный энергетик &ndash; Дирко Д.А.</p>

<p style="margin-left:116.25pt">главный механик &ndash; Маров Д.В.</p>

<p style="margin-left:116.25pt">ведущий юрисконсульт &ndash; Петрутик Ю.М.</p>

<p>провела проверку знаний по вопросам охраны труда:</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:1273px">
	<tbody>
		<tr>
			<td style="height:80px; width:47px">
			<p>№ п/п</p>
			</td>
			<td style="height:80px; width:226px">
			<p>Фамилия, собственное имя, отчество (если таковое имеется) лица, проходящего проверку знаний</p>
			</td>
			<td style="height:80px; width:319px">
			<p>Профессия рабочего, должность служащего или отдельный вид работ (услуг) лица, проходившего проверку, наименование организации (индивидуальный предприниматель, вид деятельности)</p>
			</td>
			<td style="height:80px; width:123px">
			<p>Вид проверки знаний</p>
			</td>
			<td style="height:80px; width:58px">
			<p>Номер билета</p>
			</td>
			<td style="height:80px; width:100px">
			<p>Результаты проверки знаний (прошел, не прошел)</p>
			</td>
			<td style="height:80px; width:145px">
			<p>Роспись лица, проходившего проверку знаний по вопросам охраны труда</p>
			</td>
		</tr>
		<tr>
			<td style="height:4px; width:47px">
			<p>1</p>
			</td>
			<td style="height:4px; width:226px">
			<p>2</p>
			</td>
			<td style="height:4px; width:319px">
			<p>3</p>
			</td>
			<td style="height:4px; width:123px">
			<p>4</p>
			</td>
			<td style="height:4px; width:58px">
			<p>5</p>
			</td>
			<td style="height:4px; width:100px">
			<p>6</p>
			</td>
			<td style="height:4px; width:145px">
			<p>7</p>
			</td>
		</tr>
		<tr>
			<td style="height:44px; width:47px">
			<p>1.</p>
			</td>
			<td style="height:44px; width:226px">
			<p>{{ workers.surname }} {{ workers.firstname }} {{ workers.midname }}</p>
			</td>
			<td style="height:44px; width:319px">
			<p>{{ workers.profession }}, ОАО &laquo;Белреставрация&raquo;, {{ workers.division }}</p>
			</td>
			<td style="height:44px; width:123px">
			<p>Первичная</p>
			</td>
			<td style="height:44px; width:58px">
			<p>&nbsp;</p>
			</td>
			<td style="height:44px; width:100px">
			<p>&nbsp;</p>
			</td>
			<td style="height:44px; width:145px">
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<br>
<br>
<p>Главный инженер&nbsp;&nbsp; ________________________ Ю.П. Пашковский</p>

<p>Ведущий инженер по охране труда ________________________ М.Ю. Ольшевский</p>

<p>Главный энергетик ________________________ Д.А. Дирко</p>

<p>Главный механик ________________________ Д.В. Маров</p>

<p>Ведущий юрисконсульт ________________________ Ю.М. Петрутик</p>
