{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <aside>

        <h2>Навигация</h2>
        <ul>
            <a href="{% url 'home' %}"><li><i class="bi bi-house-door-fill"></i> Главная</li></a>
            <a href="{% url 'workers' %}"><li><i class="bi bi-people-fill"></i> Работники</li></a>
            <a href="{% url 'equipment' %}"><li><i class="bi bi-hammer"></i> Оборудование</li></a>
            <a href="{% url 'plans' %}"><li><i class="bi bi-clipboard-check-fill"></i> Список задач</li></a>
            <a href="{% url 'sites' %}"><li><i class="bi bi-flag-fill"></i> Строительные объекты</li></a>
        </ul>

        <div class="features">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="{% url 'register' %}" class="btn btn-dark btn-lg btn-block"> Регистрация </a>
            <a href="{% url 'login' %}" class="btn btn-dark btn-lg btn-block"> Войти </a>
            <a href="{% url 'logout' %}" class="btn btn-dark btn-lg btn-block"> Выйти </a>
            <a href="{% url 'profile' %}" class="btn btn-dark btn-lg btn-block"> Мой профиль </a>
        </div>

    </aside>
    <main>
        {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>